page-login {
    .forget_your_password{
        color: blue;
        cursor: pointer;
    }

    .passwordResetEmail{
        text-align: center;
    }

    .passwordResetEmailSecondary{
        color: green;
    }

    .passwordResetEmailDanger{
        color: red;
    }

    .wrapper {
        max-width: 550px;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        background: white;
    }

    ._pad {
        padding: 20px;
        text-align: center;
    }

    .loginBackground {
        background-color: #f9f9f9;
    }
    
    .logo{
        width: 50px;
        height: 50px;
    }

    .not_a_member{
        padding: 15px 20px;
        text-align: center;
        border: 1px solid #d8dee2;
        border-radius: 5px;
        max-width: 550px;
        margin: auto;
        margin-top: 16px;
    }

    .formBox{
        padding: 15px 20px;
        text-align: center;
        border: 1px solid #d8dee2;
        border-radius: 5px;
        max-width: 550px;
        margin: auto;
    }

    ._6b6b {
        color: #000;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: -0.76px;
        line-height: 44px;
        text-align: center;
    }
}
