page-chat {
  .innerMessageLeft {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(241, 240, 240);
    color: black;
    margin: 5px;
    border-radius: 3px;
    max-width: 80%;
  }

  .innerMessageRight {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007aff;
    margin: 5px;
    color: white;
    border-radius: 3px;
    max-width: 80%;
  }

  .messageWithImageAndVideo{
    max-width: 250px;
  }

  .topUsername {
    font-weight: bold;
    font-size: 80%;
    color: rgba(0, 0, 0, .40);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.28;
    margin-bottom: 1px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1rem;
  }

  .userName {
    font-weight: bold;
    font-size: 80%;
  }

  .message:after {
    content: '';
    display: block;
    clear: both;
  }

  .messageLeft {
    float: left;
    border-radius: 1.3rem;
  }

  .messageRight {
    float: right;
    border-radius: 1.3rem;
  }

  .floatRight{
    float: right;
  }

  .floatLeft{
    float: left;
  }

  //ionic doesn't allow us to copy by default
  //we have to manually give access to copy and paste
  .selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

}
